<h2 id="aboutHook">Über uns</h2>
<p>
    Hollow by the Mill ist eine Irish Folk Band aus Nürnberg, die es sich zur Aufgabe gemacht hat, bei egal welchem Anlass für die gute Laune ihrer Zuschauer zu sorgen.
    <br><br>
    Ob akustisch in der Ecke eines gemütlichen Pubs oder verstärkt auf einer großen Bühne vor 500 Fans, ob Hochzeit, Scheidung, oder Namenstag vom Goldhamster, Hollow by the Mill haben für jede Gelegenheit die richtigen Songs im Gepäck und ein sympathisches Lächeln im Gesicht. Das Repertoire der Jungs reicht im Irish Folk Sektor dabei von stimmungsvoll tanzbaren Klassikern bis hin zu schönen Balladen.
    <br>
    Aber auch bekannte Songs aus Rock, Pop und Metal sind vor der Band nie ganz sicher und werden gelegentlich in eigener Interpretation zum Besten gegeben, um sich damit tief in die Herzen ihrer Zuhörerinnen und Zuhörer zu spielen.
    <br><br>
    In diesem Sinne: Roses are red, violets are blue, Hollow are awesome and so are you.
    <br><br>
    <strong>Sláinte!</strong>
</p>